{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Material Bootstarp5</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1>I am Subhrajit Swain</h1>
        <img src="{% static 'images/N2.jpg' %}" width="1400px">
        <img src="{% static 'images/N1.jpg' %}" width="1400px">
        <img src="{% static 'images/N3.jpg' %}" width="1400px">
    </center>
    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>